*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 3.5em;
}
h2{
    font-size: 2.7em;
}

p{
    font-size: 1.25em;
}

.container{
    max-width: 1400px;
    margin: auto;
}

.color-acento{
    color: blueviolet;
}

header{
    background-color: rgb(245, 245, 245);
}

header.logo{
    margin: 0;
    padding: 25pc 30px;
    font-weight: bold;
    color: blueviolet;
    font-size: 1.6em;

}

header .container{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

header a:hover{
    color: blueviolet;
}

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    color: white;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(media/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#somos .container{
    text-align: center;
    padding: 200px 12px;

}

footer{
    background-color: rgb(230, 230, 230);
}

footer p{
    margin: 0;
    color: rgb(100, 100, 100);
    padding: 12px;
}

footer .container{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
/* areas*/

input{
    display: block;
    margin: auto;
    margin-top: 50px;
    
    
}



@media (min-width: 720px ){
    
    header{
        position: fixed;
        width: 100%;

    }
    
    header .container{
        flex-direction: row;
        justify-content: space-between;

    }



    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
        padding-top: 27px;

    }

    header p{
        padding-left: 30px;
        padding-top: 5px;
    }

    #somos .container{
        display: flex;
        justify-content: center;
    }

    #somos .texto{
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding:0px 30px;
    }

    #somos .img-container{
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        ), url("media/14848523308282.jpg");
        background-size: cover;
        background-position: center center;
        height: 500px;
        width: 400px;
    }
}